In [46]:
x=0
while x<=10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9
10

In [47]:
x=10
while x>=0:
  print(x)
  x-=1

10
9
8
7
6
5
4
3
2
1
0

In [48]:
sum=0
x=1
while x<11:
  sum=(sum+x)
  x+=1
print(sum)

55

In [49]:
x=5
fac=1
while x>=1:
  fac=fac*x
  x-=1
print(fac)

120

In [50]:
x=0
while x<10:
  x=x+1
  if x==5:
    break;
  print (x)

1
2
3
4

In [51]:
x=0
while x<10:
  x=x+1
  if x==5:
    continue;
  print(x)

1
2
3
4
6
7
8
9
10

In [52]:
for x in range(100):
  sum=sum+x
print(sum)

5005

In [55]:
x=int(input("enter any value"))
fac=1
while x>0:
  fac=fac*x
  x-=1
print(fac)

enter any value5
120

In [87]:
x=int(input("enter any value"))
fac=1
for x in range(100):
  fac=fac*x
print(fac)

enter any value5
0

In [88]:

for x in range(100):
  if x==5:
    break;
print(x)

5

In [75]:
for x in range(100):
  if x==5:
    continue;
print(x)

99

In [83]:
x="Micah Ashadeep"
for a in x:
  if(a==" "):
   break;
  print(a)

M
i
c
a
h

In [84]:
x="Micah Ashadeep"
for a in x:
  if(a=="i"):
   continue;
  print(a)

M
c
a
h

A
s
h
a
d
e
e
p