In [ ]:
def anju():
  print("india is my country")

In [ ]:
anju()

india is my country

In [ ]:
def anju(x):
  print(" your roll numder is",x)

In [ ]:
x=int(input("enter ur roll no"))
anju(x)

enter ur roll no78
 your roll numder is 78

In [ ]:

def anju(x,y,z,a):
  print("my information is:",x,y,z,a)

In [ ]:
x=input("enter ur name")
y=int(input("enter ur roll number"))
z=input("enter ur email id")
a=input("enter ur address")

enter ur nameanju
enter ur roll number23
enter ur email idanjumariaphilip@gmail.com
enter ur addresskottayam

In [ ]:
anju(x,y,z,a)

my information is: anju 23 anjumariaphilip@gmail.com kottayam

In [ ]:
def anju(x,y,z):
  print("my name is anju maria philip:",x,y,z)

In [ ]:
x=input("enter ur first name")
y=input("enter ur second name")
z=input("enter ur third name")

enter ur first nameanju
enter ur second namemaria
enter ur third namephilip

In [ ]:
anju(x,y,z)

my name is anju maria philip: anju maria philip

In [ ]:
def first(x):
  print("enter ur first name",x[0])

In [ ]:
def second(x):
  print("enter ur second name",x[1])

In [ ]:
def third(x):
  print("enter ur third name",x[2])

In [ ]:
a=input("enter ur name")
x=a.split(" ")
first(x)
second(x)
third(x)

enter ur nameanju maria philip
enter ur first name anju
enter ur second name maria
enter ur third name philip

In [ ]:
x=input("enter ur full name")
def firstname(x):
  print(x[0:4])
def secondname(x):
  print(x[4:10])

enter ur full nameanjumaria

In [ ]:
firstname(x)
secondname(x)

anju
maria

In [ ]:
n=int(input("enter a number"))
z=n//10
y=n%10
x= (y*10)+z
print(x)

enter a number45
54