In [ ]:
x=int(input("enter the number"))

enter the number50

In [ ]:
if x>50:
  print("you are pass")
if x<50:
   print("you are failed") 
if x==50:
     print("just pass")

just pass

In [ ]:
if x<=250000:
   tax=0
   print(tax)
if x<=500000:
   tax=x*5/100
   print(tax)

0
10000.0

In [ ]:
x=int(input("enter the salary"))

enter the salary600000

In [ ]:
if x>250000 and x<500000:
  tax=(x-250000)*10/100
  print(tax)
if x>500000:
  tax=((x-250000)*10/100)+((x-500000)*20/100)
  print(tax)
if x<250000:
  print("you are not taxable")

55000.0

In [ ]:
y=int(input("enter the salary"))#x+d

enter the salary1750000

In [ ]:
if y<=250000:
   print("tax is zero")
if y>=250000 and y<=500000:
   tax=((y-250000)*5/100)
   print(tax)
if y>=500000 and y<=750000:
   tax=((y-250000)*5/100)+((y-500000)*10/100)
   print(tax)
if y>=750000 and y<=1000000:
   tax=((y-250000)*5/100)+((y-500000)*10/100)+((y-750000)*20/100)
   print(tax)
if y>=1250000 and y<=1500000:
   tax=((y-250000)*5/100)+((y-500000)*10/100)+((y-750000)*20/100)+((y-1250000)*25/100)
   print(tax)
if y>=1500000:
   tax=((y-250000)*5/100)+((y-500000)*10/100)+((y-750000)*20/100)+((y-1250000)*25/100)+((y-1500000)*30/100)
   print(tax)

600000.0

In [1]:
x=int(input("enter the hra "))
y=int(input("enter the actual rent"))
z=int(input("enter the basic salary"))

enter the hra 100000
enter the actual rent120000
enter the basic salary300000

In [2]:
hra1= x*12
hra2=(y*12)-((z*12)*10/100)
hra3=(z*12)*50/100
if hra1<hra2 and hra1<hra3:
   print(hra1)
if hra2<hra3 and hra2<hra1:
   print(hra2)
if hra3<hra2 and hra3<hra1:
   print(hra3)

1080000.0

In [3]:
a=[hra1,hra2,hra3]
d=min(a)
print(d)

1080000.0

In [11]:
y1=z+x-50000
print(y1)

350000

In [12]:
if y1<=250000:
   print("tax is zero")
if y1>=250000 and y1<=500000:
   tax=((y1-250000)*5/100)
   print(tax)
if y1>=500000 and y1<=750000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)
   print(tax)
if y1>=750000 and y1<=1000000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)+((y1-750000)*20/100)
   print(tax)
if y1>=1250000 and y1<=1500000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)+((y1-750000)*20/100)+((y1-1250000)*25/100)
   print(tax)
if y1>=1500000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)+((y1-750000)*20/100)+((y1-1250000)*25/100)+((y1-1500000)*30/100)
   print(tax)

5000.0